.heroComponent{
    background-color: var(--css-black);
    width: 100vw;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text{
    color: var(--css-white);
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
}
